{% extends "layout.twig" %}

{% block content %}
<h1>Dashboard</h1>

<ul>
    <li><a href="/platziphp/users/add">Add user</a></li>
    <li><a href="/platziphp/jobs/add">Add job</a></li>
</ul>
<br/>
<a href="/platziphp/logout">Logout</a>
{% endblock %}